{% extends 'base.html.twig' %}

{% block title %}Edit Quote{% endblock %}

{% block body %}
    {{ include('common/_top_navbar.html.twig') }}

	<main class="container">
    <h1>Edit Quote</h1>

    {{ include('quote/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_quote_index') }}">back to list</a>

    {{ include('quote/_delete_form.html.twig') }}
    <main>
{% endblock %}
