{% extends 'base.html.twig' %}

{% block title %}New Quote{% endblock %}

{% block body %}
    {{ include('common/_top_navbar.html.twig') }}

	<main class="container">
    <h1>Create new Quote</h1>

    {{ include('quote/_form.html.twig') }}

    <a href="{{ path('app_quote_index') }}">back to list</a>
    <main>
{% endblock %}
